
/* navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}


.nav-item{

    margin-right: 20px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.navbar-wrapper {
    position:relative; 
    top:0;
    
}
.navbar{
   
top:0;
z-index: 1;
background: rgb(0, 0, 0); opacity: 0.85;
width:100%;
}

.navline:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid rgb(255, 173, 20);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

/* carousel */
.carousel-inner{
    height: 650px;
    width: 100%; 
    overflow: hidden;
}
.carousel{
   
}

.text-slider{
    position: absolute;
    color: #f0f0f0;
    margin-top: -100px;
    
}

/* sponsored */
.imgsize{
    height: 25px;
    
}

/* about race */
h1{
text-align: center;
}

.greybg{
    background-color: #f0f0f0;
}

.section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-transform: capitalize;
  }

  .section-headline h2::after {
    border: 2px solid #333;
    bottom: -10px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 50%;
  }

/* race category */
h3{
    text-transform: uppercase;
}

.pri_table_list {
    border: 1px solid #333;
    text-align: center;
    transition: all 0.4s ease 0s;
    background: linear-gradient(to bottom, #b7b9bc 0%, #d1d3d6 100%);
  }

  .pri_table_list ol {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0px;
  }
  
  .pri_table_list h3 span {
    font-size: 16px;
   
  }
  
  .li-category{
text-align: left;
  }

.pri_table_list ol li {
    border-bottom: 1px solid #333;
    color: #333;
    padding: 12px 15px;
    position: relative;
    text-align: left;
    position: relative;
    
  }

.pri_table_list button{
    
    margin: 0 0 8px 8px;
}

.manopen{

    background-color:rgb(233, 48, 48);
}

.manelite{
    background-color: rgb(79, 105, 219);
}
.manjunior{
    background-color: #3ee295;
}

.women{
    background-color: #57e4e4;
}
.footer-bg{
  
}

.footer-col{
    margin-top: 20px;
}

.footer-col ul{
    list-style: outside none none;
    
}

.news .card-img-top{

    height: 250px;
}

.news .card {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news .card.tampil{
    opacity: 1;
}

.footericon{
    display: inline-block;
    
}

.sponsor{
    height: 90px;
}